*{
  margin:0;
  padding:0;
}
#barsWrapper{
  width:50px;
  height:50pc;
  background: #e6e6e6;
  border-radius: 3px;
  border:1px solid lightgray;
}
#barsContainer:hover{
  cursor:pointer;
  background:lightgrey;
}
#barsContainer:active{
  background: grey;
}
#barsContainer{
  width: 30px;
  height: 20px;
  position: relative;
  top: 15px;
  left: 10px;

}
#barsContainer > div {
  width:30px;
  border-radius: 3px;
  height: 4px;
  position:absolute;
  background: black;
  border: 3px
}
#barsContainer > div:nth-child(2){
  top:8px;
}
#barsContainer > div:last-child{
  bottom:0px;
}
